{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="container">
        {{if and (not .IsSpotifyAuthenticated) (not .IsYoutubeAuthenticated)}}
            <div class="login-options">
                <p>choose a platform to use:</p>
                <div class="login-buttons">
                    <a href="/auth/spotify/login" aria-label="Login using Spotify to use this tool" class="login-button spotify-button"></a>
                    <a href="/auth/youtube/login" aria-label="Login using Youtube to use this tool" class="login-button youtube-button"></a>
                </div>
            </div>
            <div class="faq-section">
                <h2>FAQ</h2>
                <dl>
                    <dt>why is this in "beta"?</dt>
                    <dd>
                        i'm stuck in "developer mode" for both spotify and youtube APIs, for now.
                        if you want to use this tool, please DM me on twitter!
                    </dd>

                    <dt>what is the loona boycott?</dt>
                    <dd>
                        it's a fan wide boycott against LOONA's company <s>BlockBerry Creative</s>.
                        more information can be found on <a href="https://www.reddit.com/r/LOONA/comments/1bx3fu2/mod_post_boycott_faq">r/LOONA</a>
                    </dd>
                
                    <dt>how does this work?</dt>
                    <dd>
                        login into your platform of choice, copy and paste your playlist url, and click submit!
                        all of your official streams should be replaced by re-uploads.
                    </dd>
                
                    <dt>is there any resources or archives?</dt>
                    <dd>
                        yes! LOONA's discography, MVs, and other content are available to download from multiple fans.
                        there's also a tutorial on how to put local files on your phone to use on spotify.
                        resources & list are provided by <a href="https://loonatherepost.carrd.co/#archives">loonatherepost</a>
                    </dd>
                
                    <dt>is this safe to use?</dt>
                    <dd>
                        yeah! this app only has access to your spotify playlists.
                        it does not have access to your account information, or any other data.
                    </dd>
                
                    <dt>what if i find a bug? a song not being replaced?</dt>
                    <dd>
                        dm me on twt with the issue! i'll try to fix it asap!
                    </dd>
                
                    <dt>this website is lacking! the code sucks! i have a suggestion!</dt>
                    <dd>
                        dm me, dm me, dm me! or open a pr! lets work!
                    </dd>
                </dl>                
            </div>
        {{else}}
            {{if .IsSpotifyAuthenticated}}
                <div id="spotifySection" class="platform-section">
                    <img src="/static/img/spotify.svg" alt="Spotify music streaming service logo for account login" class="platform-logo">
                    <form action="/replace/spotify" method="POST">
                        {{with .SpotifyFlash}}
                        <p class="flash-message">{{.}}</p>
                        {{end}}
                        {{with .SpotifyForm.FieldError}}
                        <p class="error-message">{{.}}</p>
                        {{end}}
                        <input name="spotifyPlaylist" placeholder="Enter Spotify playlist URL">
                        <div class="button-container">
                            <a href="/auth/spotify/logout" class="logout-button">Logout</a>
                            <button type="submit" class="submit-button">Submit</button>
                        </div>
                    </form>
                </div>
            {{end}}

            {{if .IsYoutubeAuthenticated}}
                <div id="youtubeSection" class="platform-section">
                    <img src="/static/img/youtube.svg" alt="YouTube video platform logo for account login" class="platform-logo">
                    <form action="/replace/youtube" method="POST">
                        {{with .YoutubeFlash}}
                        <p class="flash-message">{{.}}</p>
                        {{end}}
                        {{with .YoutubeForm.FieldError}}
                        <p class="error-message">{{.}}</p>
                        {{end}}
                        <input name="youtubePlaylist" placeholder="Enter YouTube playlist URL">
                        <div class="button-container">
                            <a href="/auth/youtube/logout" class="logout-button">Logout</a>
                            <button type="submit" class="submit-button">Submit</button>
                        </div>
                    </form>
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}
