{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="container">
    {{if .IsAuthenticated}}
        <form action="/replace" method="POST">
            {{with .Flash}}
            <p>{{.}}</p>
            {{end}}
            {{with .Form.FieldError}}
            <p>{{.}}</p>
            {{end}}
            <input name="playlist" placeholder="Enter playlist URL"></input>
            <input type="submit" value="Submit">
        </form>
    {{else}}
        <a href="/auth/login">LOGIN</a>
    {{end}}
    </div>
{{end}}