{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .IsAuthenticated}}
        <form action="/replace" method="POST">
            {{with .Flash}}
            <div>
                <p>{{.}}</p>
            </div>
            {{end}}
            <div>
                {{with .Form.FieldError}}
                    {{.}}
                {{end}}
                <input name="playlist"></input>
            </div>
            <div>
                <input type="submit" value="Submit Playlist">
            </div>
        </form>
    {{else}}
        <div>
            <a href="/auth/login">Login</a>
        </div>
    {{end}}
{{end}}