{{define "title"}}Youtube Privacy{{end}}

{{define "main"}}
    <div class="container">
        <div class="faq-section">
            <h2>Privacy Policy</h2>
            <dl>
                <dt>General</dt>
                <dd>
                    We do not share any user data with third parties. 
                </dd>
                <dd>
                    Our application does not persistently store any sensitive user data. 
                    We use temporary session tokens for authentication purposes, which are 
                    securely managed and automatically expire after use. All data, including 
                    these temporary tokens, is encrypted in transit using industry-standard protocols 
                    to ensure secure transmission.
                </dd>
                <dd>
                    Users can revoke our application's access to their YouTube/Spotify 
                    data at any time through their Google/Spotify account settings.
                </dd>
                <dt>Youtube/Google</dt>
                <dd>
                    By logging into our application using your Google account, 
                    you grant us limited access to your YouTube data only. 
                    We do not have access to any other Google services or personal 
                    information outside of YouTube-specific data. 
                </dd>
                <dd>
                    Specifically, we use this access to modify the YouTube playlists 
                    that you explicitly choose to share with our application. 
                    We cannot access your personal information or any data 
                    from other Google services. 
                </dd>
                <dt>Spotify</dt>
                <dd>
                    By connecting your Spotify account to our application, you grant us limited access to your Spotify data.
                    We only access the following information:
                </dd>
                <dd>
                    Your Spotify username, user_id, email, profile picture, your playlists (names and contents).
                    Again, our application doesn't story any sensitive user data.
                </dd>
                <dd>
                    Specifically, we use this to access and modify
                    your Spotify playlists that you explicitly choose to share with our application.
                </dd>
            </dl>                
        </div>
    </div>
{{end}}
