{{define "title"}}Youtube Privacy{{end}}

{{define "main"}}
    <div class="container">
        <div class="faq-section">
            <h2>Privacy Policy</h2>
            <dl>
                <dt>General</dt>
                <dd>
                    We do not share any user data with third parties. 
                </dd>
                <dd>
                    Our application does not persistently store any sensitive user data. 
                    We use temporary session tokens for authentication purposes, which are 
                    securely managed and automatically expire after use. All data, including 
                    these temporary tokens, is encrypted in transit using industry-standard protocols 
                    to ensure secure transmission.
                </dd>
                <dd>
                    Users can revoke our application's access to their YouTube/Spotify 
                    data at any time through their Google/Spotify account settings.
                </dd>
                <dt>Youtube/Google</dt>
                <dd>
                    By logging into our application using your Google account, 
                    you grant us limited access to your YouTube data only. 
                    We do not have access to any other Google services or personal 
                    information outside of YouTube-specific data. 
                </dd>
                <dd>
                    Specifically, we use this access to modify the YouTube playlists 
                    that you explicitly choose to share with our application. 
                    We cannot access your personal information or any data 
                    from other Google services.
                <dt>Data Protection</dt>
                <dd>
                    We employ industry-standard security measures to protect any data we temporarily handle:
                </dd>
                <dd>
                    - All data is encrypted in transit using TLS encryption.
                </dd>
                <dd>
                    - We use secure, firewalled servers to process data.
                </dd>
                <dd>
                    - Access to our systems is strictly limited to authorized personnel only.
                </dd>
                <dd>
                    - Regular security audits are conducted to ensure the integrity of our systems.
                </dd>
                <dd>
                    - We adhere to the principle of least privilege, ensuring that our application only accesses the minimum amount of 
                    data necessary to perform its functions.
                </dd>
                <dt>
                    Data Retention and Deletion
                </dt>
                <dd>
                    We do not permanently store any user data from Google, Youtube, or Spotify.
                </dd>
                <dd>
                    All data accessed is used only for the duration of the user's session and 
                    to perform the specific tasks requested by the user.
                    Temporary session tokens are automatically deleted at the end of each user session or after a 
                    maximum of 24 hours, whichever comes first.
                </dd>
                <dd>

                    Users can request the immediate deletion of any temporary data by logging out of our application.
                </dd>
                <dd>
                    We do not store any user data, so there's no user data to delete.
                </dd>
                <dd>
                    We do not retain any historical data or logs containing user-specific information from Google, 
                    YouTube, or Spotify beyond the current session.
                </dd>
                <dt>Spotify</dt>
                <dd>
                    By connecting your Spotify account to our application, you grant us limited access to your Spotify data.
                    We only access the following information:
                </dd>
                <dd>
                    Your Spotify username, user_id, email, profile picture, your playlists (names and contents).
                    Again, our application doesn't story any sensitive user data.
                </dd>
                <dd>
                    Specifically, we use this to access and modify
                    your Spotify playlists that you explicitly choose to share with our application.
                </dd>
            </dl>                
        </div>
    </div>
{{end}}
