{{define "title"}}Youtube Privacy{{end}}

{{define "main"}}
    <div class="container">
        <div class="faq-section">
            <h2>Privacy Policy</h2>
            <dl>
                <dd>
                    when using the loona boycott tool for youtube and spotify, 
                    we require you to login into your specific 
                    account that contains your curated playlists 
                    that you want to modify by using our tool.
                </dd>
                <dd>
                    the tool doesn't store or share any of your data. 
                    we only use your account's authentication to give 
                    the tool permission to modify the specific youtube or spotify 
                    playlist that you give it to replace any officials 
                    loona songs in it with re-uploads!
                </dd>
            </dl>                
        </div>
    </div>
{{end}}
