/* \home\echo\projects\loona-boycott\ui\static\css\style.css */

li {
    font-weight: bold;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #333;
}

dd {
    margin-left: 0;
    padding-left: 1em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #F98F81 
}

a:visited {
    color: #7A0434;
}

h1 {
    font-family: 'Unna', serif;
}

body {
    font-family: 'Unna', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

main {
    flex: 1;
    width: 400px;  
    /* border: 1px solid black; */
    padding-top: 10px;
}

footer {
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.login-button {
    display: inline-block;
    width: 60px;  /* Adjust based on your image size */
    height: 60px;  /* Adjust based on your image size */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.platform-logo {
    width: 30px;  /* Adjust based on your image size */
    height: 30px;  /* Adjust based on your image size */
    margin-bottom: 20px;
}

.login-button:hover {
    transform: scale(1.05);
}

.spotify-button {
    background-image: url('/static/img/spotify.svg');  /* Update path as needed */
}

.youtube-button {
    background-image: url('/static/img/youtube.svg');  /* Update path as needed */
}

.login-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.submit-button, .logout-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.submit-button {
    background-color: black;
    color: #f2f2f2;
}

.logout-button {
    background-color: transparent;
    color: black;
}

.submit-button:hover, .logout-button:hover {
    opacity: 0.8;
}

.platform-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
}

.platform-section form {
    width: 100%;
}


.platform-section form input[name="spotifyPlaylist"],
.platform-section form input[name="youtubePlaylist"] {
    padding: 10px;
    margin-bottom: 10px;
}

.flash-message, .error-message {
}

.flash-message {
    background-color: #d4edda;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 426px) {
    .container {
        padding: 0 10px;
    }

    main {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .platform-section form {
        max-width: 300px;
    }
}